GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=

GEMINI_MODEL=

EMBEDDING_MODEL=

VECTOR_SEARCH_INDEX=
VECTOR_SEARCH_ENDPOINT=

PUBSUB_TOPIC=
PUBSUB_SUBSCRIPTION=

FIRESTORE_DATABASE=
HISTORICAL_BUCKET=
